body {
  text-align: center;
  font-family: verdana;
  background: url("http://gnome-look.org/CONTENT/content-files/129022-111.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  color: white; 
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: blue; 
  font-weight:bolder;            
}
table {
  margin-left: auto;
  margin-right: auto;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 0.2px;
}

.node--leaf {
  fill: #003D99;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  /*pointer-events: none;*/
}

#detailVis {
	border-style:solid;
	border-width:5px;
  border-radius: 15px;
  color: white;

}

#vis {
	border-style:solid;
	border-width:5px;
  border-radius: 15px;
  font-family: Garamond;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  padding: 2px;             
  font: 12px sans-serif;        
  background: black;   
  color: white;
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}

