body {
  text-align: center;
  font-family: verdana;
  background: url("http://gnome-look.org/CONTENT/content-files/129022-111.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment:fixed;
  color: white; 
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: blue; 
  font-weight:bolder;            
}
table {
  margin-left: auto;
  margin-right: auto;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 0.2px;
}

.node--leaf {
  fill: #003D99;
}


.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  /*pointer-events: none;*/
}

#detailVis {
	border-style:solid;
	border-width:5px;
  border-radius: 15px;
  color: white;

}

#vis {
	border-style:solid;
	border-width:5px;
  border-radius: 15px;
  font-family: Garamond;
}

div.tooltip {   
  position: absolute;           
  text-align: center;  
  font-weight: bolder;         
  padding: 2px;             
  font: 18px verdana;
  background: black;   
  color: magenta;
  border: 0px;      
  border-radius: 6px;   
  pointer-events: none;
  /*box-sizing: border-box;*/
  z-index: 10;
  display: inline;
  line-height: 1;
  content: "\25BC";
  /*width: 200px;*/



}

#legend_button{ cursor: pointer; }

#frame {
    width: 500px;
    height: 420px;
    border: none;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.9);
    -o-transform-origin: -3px -10px;
    -webkit-transform: scale(0.9);
    -webkit-transform-origin: 0 0;
}

